<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <div ng-app="">

        <div ng-controller="firstController">
            <input type="text" value="" ng-model="name"/>

            <div ng-controller="secondController">
                <input type="text" value="" ng-model="name"/>
            </div>
        </div>
    </div>

    <script>

        function first(){
            var name = '张三';

            function second(){

                var name = '张三12121212121';
                alert(name);
            }
        }

    </script>
    <script type="text/javascript" src="app/index.js"></script>
<script type="text/javascript" src="../../vendor/angular/angularjs.js"></script>
</body>
</html>